---
layout: page
title: About
subtitle: Curious, passionate and knowledge-hungry self-starter looking for opportunities to make impacts.
permalink: /about/
---

<p><img src="/assets/img/cove-wave1.jpeg"></p>
<h2>About Me</h2>
<p><img src="/assets/img/me3.png" style="width:250px;height:275px;"></p>
<p>I am a recent graduate from the University of California, San Diego. I have majored in Math, Statistics and I have a strong interest in data science. To  further my passion, I took machine learning and relational database courses on Udemy and I am currently enrolled in the Data Science MicroMaster’s Advanced Award program at edX.
	<p><ul class="about-list">
<!-- 		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li> -->
	</ul></p>
<p>I have a passion to make a positive impact to the community. I saw myself enjoy working on meaningful projects that help the community and would like to dedicate my career to work on such projects to benefit people around me. I would like to describe myself as outgoing, compassionate and creative. I love collaborating with people from different backgrounds and developing new ideas as I also learn from them.
	<p><ul class="about-list">
<!-- 		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li> -->
	</ul></p>
<p>Lastly, I am a curious, passionate and knowledge-hungry self-starter who loves collaborating with people. My source of being a passionate knowledge-hungry self-starter is from being open-minded about new challenges and adjusting myself to new environments. I am more than ready to challenge myself and throw myself into uncomfortable situations out there. I mean, what is life if there are no challenges?
	<p><ul class="about-list">
<!-- 		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li> -->
	</ul></p>

<h2>Skills</h2>
<p><b>Proficient:</b> Python, R, SQL</p>
<p><b>Familiar:</b> Matlab, HTML, Git, LaTex, Excel, Java, Spark(AWS)</p>
<p><b>Machine Learning Techniques:</b> Linear/Logistic Regression, Random Forest, SVM, KNN, Neural Networks, K-means, NLP,PCA, Recommender Systems, Deep Learning, Gradient Boost, Regularization</p>
<p><b>Python Libraries:</b> Pandas, Numpy Seaborn, Scipy, Matplotlib, Plotly, Scikit-learn, NLTK, LGBM, TensorFlow</p>

  {% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}

<h2>Education</h2>
<p>University of California, San Diego 19': Mathematics, Probability and Statistics (B.S.)</p>
<p>Relevant Coursework:</p>
<ul>
<li>Data Science in Practice</li>
<li>Intro to Machine Learning</li>
<li>Exploratory Data Analysis and Inference</li>
<li>Linear Algebra</li>
<li>Mathematical Statistics</li>
<li>Computational Statistics</li>
</ul>
<p>University of California, San Diego & edX, Inc. : Data Science (Micro-Masters)</p>
<p>Online Coursework:</p>
<ul>
<li>The Complete SQL Boot Camp (Udemy)</li>
<li>Deep Learning Prerequisites: The Numpy Stack (Udemy)</li>
<li>Python for Data Science and Machine Learning Bootcamp(Udemy)</li>
<li>Complete Tensorflow 2 and Keras Deep Learning Bootcamp(Udemy, WIP)</li>
</ul>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/{{ site.linkedin_username }}"> LinkedIn</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>
