---
layout: page
title: About
subtitle: Finding joy in learning.
permalink: /about/
---

<h2>About this Blog</h2>
<p>백앤드 자바를 공부하면서 배운점, 느낀점들을 기록하는 블로그 입니다.</p>
<p>Personal blog where I organize my thoughts and stuff I learned.
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
<!-- 		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li> -->
	</ul></p>

<h2>About me</h2>
<p>자바 백앤드 개발을 공부하는 learning developer 입니다.</p>
    <p><ul class="about-list">
<!-- 		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li> -->
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
