---
layout: page
title: About
subtitle: Fourth Year Statistics Student at UC San Diego
permalink: /about/
---

<h2>About Me</h2>
<p>I am a fourth year Statistics student at the Univ. of California, San Diego majoring in Statistics. I have a strong interest in data science and I love to translate data into meaningful insights. I am currently looking for data science/analyst internships or even full time positions.
	<p><ul class="about-list">
<!-- 		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li> -->
	</ul></p>

<h2>Skills</h2>
<p>Proficient: Python, R, SQL</p>
<p>Familiar: Matlab, HTML, Git, LaTex, Excel, Java, Spark(AWS)</p>
<p>Machine Learning Techniques: Logistic/Linear Regression, Random Forest, K-Means, SVM, KNN</p>
<p>Python Libraries: Pandas, Scikit-Learn, Numpy, Matplotlib, Seaborn, Plotly, Scipy, Wordcloud</p>

  {% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}

<h2>Education</h2>
<p>University of California, San Diego 19': Mathematics, Probability and Statistics</p>
<p>Relevant Coursework:</p>
<ul>
<li>Data Science in Practice</li>
<li>Intro to Machine Learning</li>
<li>Exploratory Data Analysis and Inference</li>
<li>Linear Algebra</li>
<li>Mathematical Statistics</li>
<li>Computational Statistics</li>
</ul>
<p>Online Coursework:</p>
<ul>
<li>The Complete SQL Boot Camp (Udemy)</li>
<li>Deep Learning Prerequisites: The Numpy Stack (Udemy)</li>
</ul>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-linkedin"></i><a href="https://linkedin.com/{{ site.linkedin_username }}"> LinkedIn</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>
