---
layout: page
title: Portfolio
subtitle: Portfolio of my Data Science Projects
permalink: /portfolio/
---
<p><img src="/assets/img/Screen Shot 2019-12-15 at 12.36.53 AM.png" style="width:884px;height:495px;"></p> 
<h2>Data Science Projects (Click to see)</h2>
<p><a href="https://github.com/ghd7262/amazon-food-score-prediction">2019.12: Amazon Food Score Prediction</a></p>
<p><a href="https://github.com/ghd7262/analyze-parking-data">2019.12: UC San Diego Parking data Analysis</a></p>
<!-- <p><img src="/assets/img/heart-attack-preview.png" style="width:300px;height:250px;" align="left"></p> -->
<p><a href="https://www.github.com/ghd7262/Heart-Attack-Prediction">2019.09: Heart Attack Prediction</a></p>
<!-- <p><img src="/assets/img/youtube-preview.png" style="width:300px;height:250px;" align="left"></p> -->
<p><a href="https://www.github.com/ghd7262/Kaggle-Dataset-EDA-2017-Youtube-Statistics">2019.08: Exploratory Data Analysis on the 2017 YouTube Statistics</a></p>
<!-- <p><img src="/assets/img/lol-preview.png" style="width:300px;height:250px;" align="left"></p> -->
<p><a href="https://www.github.com/ghd7262/League-of-Legends-Statistical-Analysis">2019.07: Online Game Data Analysis: League of Legends</a></p>
{% for category in site.categories %}
{% capture cat %}{{ category | first }}{% endcapture %}

<h2>{{ cat | capitalize }}</h2>
	<ul>
	{% for post in site.categories[cat] %}
	  <li>
	  <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	     <span class="date"> - {{ post.date | date_to_long_string }}</span></p>
	  </li>
	{% endfor %}
	</ul>

{% endfor %}
