---
layout: page
title: Portfolio
subtitle: Portfolio of my Data Science Proejcts
permalink: /portfolio/
---
<h2>Data Science Projects</h2>
<img src="https://www.github.com/ghd7262/ghd7262.github.io/blob/master/img/heart-attack-preview.png">
<p><a href="https://www.github.com/ghd7262/Heart-Attack-Prediction">2019.09: Heart Attack Prediction</a></p>
<img src="https://www.github.com/ghd7262/ghd7262.github.io/blob/master/img/youtube-preview.png">
<p><a href="https://www.github.com/ghd7262/Kaggle-Dataset-EDA-2017-Youtube-Statistics">2019.08: Exploratory Data Analysis on the 2017 YouTube Statistics</a></p>
<img src="https://www.github.com/ghd7262/ghd7262.github.io/blob/master/img/lol-preview.png">
<p><a href="https://www.github.com/ghd7262/League-of-Legends-Statistical-Analysis">2019.07: Online Game Data Analysis: League of Legends</a></p>
{% for category in site.categories %}
{% capture cat %}{{ category | first }}{% endcapture %}

<h2>{{ cat | capitalize }}</h2>
	<ul>
	{% for post in site.categories[cat] %}
	  <li>
	  <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	     <span class="date"> - {{ post.date | date_to_long_string }}</span></p>
	  </li>
	{% endfor %}
	</ul>

{% endfor %}
