<footer class="site-footer">

  <div class="wrapper">

    <center>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>

		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
    <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
		<br>
		<span style="font-size:12">Theme &copy; <a class="link" href="https://gabriel-chen.github.io" target="_blank"> Gabriel</a> | </span>
				<iframe
			style="margin-left: 2px; margin-bottom:-5px;"
			frameborder="0" scrolling="0" width="80px" height="20px"
			src="https://ghbtns.com/github-btn.html?user=itisbenjamin&repo=Nice_Blog&type=star&count=true" >
		</iframe>

    </center>

  </div>

</footer>
