<section class="tech">
    <div class = "item">
        <div class = "describe">
            Data Visualization
        </div>
        <div class="progress">
            <span class="gray" style="width: 70%;"></span>
        </div>   
    <div class = "item">
        <div class = "describe">
            Python
        </div>
        <div class="progress">
            <span class="red" style="width: 87%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            SQL
        </div>
        <div class="progress">
            <span class="yellow" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            R
        </div>
        <div class="progress">
            <span class="green" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class="blue" style="width: 35%;"></span>
        </div>
</section>
