<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            Python/R/SQL
        </div>
        <div class="progress">
            <span class="darkblue" style="width: 87%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Spark (AWS)/Java/Matlab/HTML/Git/LaTex/Excel
        </div>
        <div class="progress">
            <span class="green" style="width: 50%;"></span>
        </div>
    </div>
</section>
