<section class="tech">
    <div class = "item">
        <div class = "describe">
            Python
        </div>
        <div class="progress">
            <span class="red" style="width: 87%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            SQL
        </div>
        <div class="progress">
            <span class="orange" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            SQL
        </div>
        <div class="progress">
            <span class="green" style="width: 75%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class="red" style="width: 45%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            HTML
        </div>
        <div class="progress">
            <span class="red" style="width: 40%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Git
        </div>
        <div class="progress">
            <span class="red" style="width: 43%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Spark(AWS)
        </div>
        <div class="progress">
            <span class="red" style="width: 43%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Excel
        </div>
        <div class="progress">
            <span class="red" style="width: 40%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            LaTex
        </div>
        <div class="progress">
            <span class="red" style="width: 40%;"></span>
        </div>
    </div>
</section>
